<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PlayPhotoApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EC2509261E937C19005DB1B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC25093F1E937C19005DB1B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC25094A1E937C19005DB1B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
