<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TabbedApplication.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FF5B964C1ECC99A100D30535</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF5B96621ECC99A200D30535</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF5B966D1ECC99A200D30535</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
