<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ImageGeneratorApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ECCFDCB81E4DE183008D9F8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ECCFDCD11E4DE183008D9F8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ECCFDCDC1E4DE183008D9F8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
